body {
    display: grid;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 8fr 1fr;
    max-height: auto;
    max-width: 960px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    border: solid;
    border-width: 1px;
    margin: auto;
}

@media (max-width: 767px) {

    .wrapper {
        display: block;
    }

    .sidebar {
        align-items: center;
        border-top: 1px solid;

    }

    .contact {
        text-align: center;
    }

    img {
        border-radius: 0%;
        margin: 15px;
        border: solid;
        border-width: 1px;
    }
}


hr {
    border: solid;
    width: auto;
    background-color: black;
    border: none;
    height: 1px;
    margin-bottom: 20px;

}


a {
    text-decoration: none;
    color: #000;
}

a:hover {
    opacity: 50%;
}

h1 {
    font-size: 48px;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin: 10px 0px 0px 0px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 24px;
    padding: 0px;
    margin: 0;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 0 5px;
}

/* ======================= HEADER ========================= */

.header {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.name-line {
    display: none;
    width: 100px;
    height: 3px;
    border-radius: 25%;
    background-color: #000;
}


/* ======================= SIDEBAR ========================= */

.sidebar {
    grid-area: 1 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-image: linear-gradient(rgb(239, 233, 214), rgb(255, 255, 255));
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.contact {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: left;
    margin-top: 50px;
}

.languages {
    margin: 15px 70px 15px 0;
}

.languages-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin: 20px 5px 5px 5px;
}

.languages-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: italic;
    margin-left: 6px;
}


img {
    width: 12rem;
    border-radius: 50%;
    margin: 15px;
    border: solid;
    border-width: 1px;
}

.insta {
    display: none;
    /* transform: translate(50px, -210px); */
}

i {
    margin: 0 5px;
}

.profilePicture:hover {
    opacity: 80%;
}

/* =======================  MAIN  ========================= */

.main {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 0 40px;
}

.summary,
.interests {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: left;
    margin-top: 5px;
}

.paragraph-summary,
.paragraph-interests {
    text-align: justify;
}

.paragraph-education {
    text-align: justify;
    margin-left: 25px;
}

ul {
    margin-top: 2px;
}


/* ==================== TIMELINE ITEMS ============================= */

.list-item {
    display: flex;
    flex-direction: row;
}

.data-range {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-left: 6px;
}

/* ==================== TIMELINE ELEMENTS ========================= */

.dot {
    display: block;
    width: 9px;
    height: 9px;
    background-color: #000;
    border-radius: 50%;
    transform: translate(-4px, 6px);
}


.line {
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: #000;
}

/* ==================== FOOTER ========================= */

.footer {
    grid-area: 3 / 1 / 4 / 3;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: x-small;
}