body {
    display: grid;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 8fr 1fr;
    max-height: auto;
    max-width: 960px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    border: solid;
    border-width: 1px;
    margin: auto;
}


@media (max-width: 767px) {

    .wrapper {
        display: block;
    }

    .sidebar {
        align-items: center;
        border-top: 1px solid;
    }

    img {
        width: 15rem;
    }

    .contact {
        text-align: center;
    }

    .main .paragraph-summary,
    .main .paragraph-interests,
    .main .expirience-div,
    .main .education-div {
        height: 0;
        overflow: hidden;
    }

    h2 {
        cursor: pointer;
    }

    input:checked~.arrow {
        transform: translate(0, -20px) rotate(90deg);
        transition: all .2s;
    }


    input:not(:checked)~.arrow {
        transition: all .2s;
    }

    input:checked~.paragraph-interests {
        height: max-content;
    }

    input:checked~.paragraph-summary {
        height: max-content;
    }

    input:checked~.expirience-div {
        height: max-content;
    }

    input:checked~.education-div {
        height: max-content;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-info h3 {
        margin-bottom: 15px;
    }

    .contact-info p {
        margin: 10px 0;
    }

    .contact-portfolio {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 32px;
    }

    .fa-brands,
    .fab {
        margin: 0 0.74em;
    }

    .contact-portfolio-label {
        display: none;
    }
}

hr {
    border: solid;
    width: 100%;
    background-color: black;
    border: none;
    height: 1px;
    margin-bottom: 20px;
}


a {
    text-decoration: none;
    color: #000;
}

a:hover {
    opacity: 50%;
}

h1 {
    font-size: 48px;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin: 10px 0px 0px 0px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 24px;
    padding: 0px;
    margin: 0;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 0 5px;
}

/* ======================= HEADER ========================= */

.header {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.header-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-line {
    display: block;
    width: 100px;
    height: 3px;
    border-radius: 25%;
    background-color: #000;
}


/* ======================= SIDEBAR ========================= */

.sidebar {
    grid-area: 1 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-image: linear-gradient(rgb(239, 233, 214), rgb(255, 255, 255));
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.contact {
    font-size: 16px;
    text-align: left;
    margin-top: 50px;
}

.languages {
    margin: 15px 70px 15px 0;
}

.languages-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin: 20px 5px 5px 5px;
}

.languages-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: italic;
    margin-left: 6px;
}


img {
    width: 12rem;
    border-radius: 50%;
    margin: 15px;
    border: solid;
    border-width: 1px;
}

.insta {
    display: none;
    /* transform: translate(50px, -210px); */
}

i {
    margin: 0 5px;
}

.profilePicture:hover {
    opacity: 80%;
}

/* =======================  MAIN  ========================= */

.main {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 0 40px;
}

.summary,
.interests {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

.paragraph-summary,
.paragraph-interests {
    text-align: justify;
    font-size: 14px;
}

.paragraph-education {
    text-align: justify;
    margin-left: 25px;
}

.expirience-div,
.education-div {
    margin: 14px 0;
}

.arrow {
    visibility: visible;
    font-size: 14px;
    align-self: flex-end;
    transform: translate(0, -20px);
}

@media (min-width: 767px) {
    .arrow {
        visibility: hidden;
    }
}


/* ==================== TIMELINE ITEMS ============================= */

.list-item-heading {
    display: flex;
    flex-direction: column;
}

.list-item {
    display: flex;
    flex-direction: row;
}

.data-range {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-left: 6px;
}

/* ==================== TIMELINE ELEMENTS ========================= */
.dot-line {
    display: flex;
    margin-right: 5px;
}

.dot {
    display: block;
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 50%;
    transform: translate(4.5px, 6px);
}


.line {
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: #000;
    transform: translate(0, 10px);
}

/* ==================== FOOTER ========================= */

.footer {
    grid-area: 3 / 1 / 4 / 3;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: x-small;
}